/* @import url(https://fonts.googleapis.com/css?family=Roboto:400, 900); */

.module {
  width: 200px;
  height: 150px;
  margin: 10px 0 0 10px;
  /* position: relative; */
  /* float: left; */
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
  /* position: absolute; */
  bottom: 20px;
  left: 20px;
  color: white;
  border-radius: 10;
  border: 2px;
  margin: 0;
}
